body {
  --purple: #9575cd;
  --white: #ffffff;
  --secondary: #263238;
  background-color: var(--bg);
}

body.light {
  --bg: var(--white);
  --bg-secondary: rgb(249, 250, 251);
  --bg-inverted: var(--secondary);
  --header: var(--purple);
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #7e57c2;
  --hr: hsla(0, 0%, 0%, 0.2);
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1a1a1a;
  --form-shadow: 0 2px 15px 0 rgba(210, 214, 220, 0.5);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: var(--secondary);
  --bg-secondary: rgb(54, 60, 72);
  --bg-inverted: var(--white);
  --header: #ffffff;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: #ffffff;
  --textLink: var(--purple);
  --hr: hsla(0, 0%, 100%, 0.2);
  --inlineCode-bg: rgba(115, 124, 153, 0.2);
  --inlineCode-text: #e6e6e6;
  --form-shadow: 0 2px 15px 0 rgba(26, 26, 27, 0.637);
}

/*
  RTL layout
*/
body:lang(fa) article,
body:lang(ar) article,
body:lang(he) article {
  direction: rtl;
}

body:lang(fa) article pre,
body:lang(ar) article pre,
body:lang(he) article pre,
body:lang(fa) article .translations,
body:lang(ar) article .translations,
body:lang(he) article .translations,
body:lang(fa) .language-text,
body:lang(ar) .language-text,
body:lang(he) .language-text {
  direction: ltr;
}

/* Fixing parentheses issue in text */
body:lang(fa) .language-text,
body:lang(ar) .language-text,
body:lang(he) .language-text {
  display: inline-block;
}

body:lang(fa) blockquote,
body:lang(ar) blockquote,
body:lang(he) blockquote {
  border-left: unset;
  border-right: 0.32813rem solid hsla(0, 0%, 0%, 0.9);
  padding-right: 1.42188rem;
  padding-left: unset;
  margin-left: 0.75rem;
  margin-right: -1.75rem;
}

/* styles for Persian language */
body:lang(fa) article,
body:lang(fa) header > h1 {
  font-family: 'Vazir';
}
/* styles for Arabic language */
body:lang(ar) article,
body:lang(ar) header > h1 {
  font-family: 'Cairo', sans-serif;
}

body:lang(ko) header,
body:lang(ko) article {
  word-break: keep-all;
}

/**
 * Based on copypasta from Sara Vieira
 */
code[class*='language-'],
pre[class*='language-'] {
  color: #d6deeb;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 0.99);
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 0.99);
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* Code blocks */
pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code,
pre {
  color: white;
  background: #011627;
}

:not(pre) > code {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #637777;
  font-style: italic;
}

.namespace {
  color: #b2ccd6;
}

.token.deleted {
  color: rgba(239, 83, 80, 0.56);
  font-style: italic;
}

.token.symbol,
.token.property {
  color: #80cbc4;
}

.token.tag,
.token.punctuation {
  color: #7fdbca;
}
.token.operator,
.token.keyword {
  color: #c792ea;
}

.token.boolean {
  color: #ff5874;
}

.token.number {
  color: #f78c6c;
}

.token.constant,
.token.function,
.token.builtin,
.token.char {
  color: #82aaff;
}

.token.selector,
.token.doctype {
  color: #c792ea;
  font-style: italic;
}

.token.attr-name,
.token.inserted {
  color: #addb67;
  font-style: italic;
}

.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string {
  color: #ecc48d;
}

.token.class-name {
  color: #addb67;
}

.token.atrule,
.token.attr-value {
  color: #ffcb8b;
}

.token.regex,
.token.important,
.token.variable {
  color: #d6deeb;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

/* Code blocks */
pre[class*='language-'] {
  overflow: auto;
  padding: 1.3125rem;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  background: var(--inlineCode-bg);
  color: var(--inlineCode-text);
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
}

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}

.command-line-prompt > span:before {
  color: #999;
  content: ' ';
  display: block;
  padding-right: 0.8em;
}

/* Prompt for all users */
.command-line-prompt > span[data-user]:before {
  content: '$' !important;
}

/* Prompt for root */
.command-line-prompt > span[data-user='root']:before {
  content: '$';
}

.command-line-prompt > span[data-prompt]:before {
  content: attr(data-prompt);
}

.gatsby-highlight-code-line {
  background-color: hsla(207, 95%, 15%, 1);
  display: block;
  margin-right: -1.3125rem;
  margin-left: -1.3125rem;
  padding-right: 1em;
  padding-left: 1.25em;
  border-left: 0.25em solid var(--purple);
}

.gatsby-highlight {
  margin-bottom: 1.75rem;
  margin-left: -1.3125rem;
  margin-right: -1.3125rem;
  border-radius: 10px;
  background: #011627;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

@media (max-width: 672px) {
  .gatsby-highlight {
    border-radius: 0;
  }
}

.gatsby-highlight pre[class*='language-'] {
  float: left;
  min-width: 100%;
}

.line-numbers .line-numbers-rows {
  padding: 1.3125rem 0;
}
